:root {
    --f: nunito;
    --p: #039;
    --l: #eee;
}

* {
    box-sizing: border-box;
}

*+* {
    margin: .5em 0;
}

pre {
    overflow: auto
}

@media(min-width:35em) {
    .col {
        display: table-cell;
    }

    .\33 {
        width: 22%;
    }

    .\34 {
        width: 30%;
    }

    .\35 {
        width: 40%;
    }

    .\32 {
        width: 15%;
    }

    .\36 {
        width: 50%;
    }

    .row {
        display: table;
        border-spacing: 1em 0;
    }
}

.w-100,
.row {
    width: 100%;
}

a:hover,
.bn:hover {
    opacity: .6;
}

h3 {
    font: 100 2em var(--f);
}

h2 {
    font: 100 2.2em var(--f);
}

h1 {
    font: 100 2.5em var(--f);
}

a {
    color: var(--p);
    text-decoration: none;
}

.bn.p {
    color: white;
    background: var(--p);
    border: solid var(--p);
}

td,
th {primary
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--l);
}

.bn {
    padding: 1em;
    text-transform: uppercase;
    background: white;
    border: solid;
    font: .7em var(--f);
}
